<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wil.mapper.PaperMapper">
  <resultMap id="BaseResultMap" type="com.wil.entity.Paper">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="begin_time" jdbcType="VARCHAR" property="beginTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="allow_time" jdbcType="VARCHAR" property="allowTime" />
    <result column="score" jdbcType="VARCHAR" property="score" />
    <result column="paper_state" jdbcType="VARCHAR" property="paperState" />
    <result column="paper_type" jdbcType="VARCHAR" property="paperType" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="paper_form_id" jdbcType="INTEGER" property="paperFormId" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, paper_name, course_id, question_id, begin_time, end_time, allow_time, score, 
    paper_state, paper_type, major_id, paper_form_id, teacher_id
  </sql>
  <select id="selectByExample" parameterType="com.wil.entity.PaperExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wil.entity.PaperExample">
    delete from paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wil.entity.Paper">
    insert into paper (id, paper_name, course_id, 
      question_id, begin_time, end_time, 
      allow_time, score, paper_state, 
      paper_type, major_id, paper_form_id, 
      teacher_id)
    values (#{id,jdbcType=INTEGER}, #{paperName,jdbcType=VARCHAR}, #{courseId,jdbcType=INTEGER}, 
      #{questionId,jdbcType=VARCHAR}, #{beginTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, 
      #{allowTime,jdbcType=VARCHAR}, #{score,jdbcType=VARCHAR}, #{paperState,jdbcType=VARCHAR}, 
      #{paperType,jdbcType=VARCHAR}, #{majorId,jdbcType=INTEGER}, #{paperFormId,jdbcType=INTEGER}, 
      #{teacherId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wil.entity.Paper" keyProperty="id" useGeneratedKeys="true">
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperName != null">
        paper_name,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="allowTime != null">
        allow_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="paperState != null">
        paper_state,
      </if>
      <if test="paperType != null">
        paper_type,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
      <if test="paperFormId != null">
        paper_form_id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperName != null">
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="allowTime != null">
        #{allowTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="paperState != null">
        #{paperState,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null">
        #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="paperFormId != null">
        #{paperFormId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wil.entity.PaperExample" resultType="java.lang.Long">
    select count(*) from paper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <select id="findByCourseId" resultType="com.wil.entity.Paper">
      SELECT
          *
      FROM
          paper
      WHERE
          course_id = #{courseId}
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update paper
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.paperName != null">
        paper_name = #{record.paperName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=INTEGER},
      </if>
      <if test="record.questionId != null">
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null">
        begin_time = #{record.beginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.allowTime != null">
        allow_time = #{record.allowTime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=VARCHAR},
      </if>
      <if test="record.paperState != null">
        paper_state = #{record.paperState,jdbcType=VARCHAR},
      </if>
      <if test="record.paperType != null">
        paper_type = #{record.paperType,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null">
        major_id = #{record.majorId,jdbcType=INTEGER},
      </if>
      <if test="record.paperFormId != null">
        paper_form_id = #{record.paperFormId,jdbcType=INTEGER},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update paper
    set id = #{record.id,jdbcType=INTEGER},
      paper_name = #{record.paperName,jdbcType=VARCHAR},
      course_id = #{record.courseId,jdbcType=INTEGER},
      question_id = #{record.questionId,jdbcType=VARCHAR},
      begin_time = #{record.beginTime,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      allow_time = #{record.allowTime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=VARCHAR},
      paper_state = #{record.paperState,jdbcType=VARCHAR},
      paper_type = #{record.paperType,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=INTEGER},
      paper_form_id = #{record.paperFormId,jdbcType=INTEGER},
      teacher_id = #{record.teacherId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wil.entity.Paper">
    update paper
    <set>
      <if test="paperName != null">
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="allowTime != null">
        allow_time = #{allowTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="paperState != null">
        paper_state = #{paperState,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null">
        paper_type = #{paperType,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="paperFormId != null">
        paper_form_id = #{paperFormId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wil.entity.Paper">
    update paper
    set paper_name = #{paperName,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      allow_time = #{allowTime,jdbcType=VARCHAR},
      score = #{score,jdbcType=VARCHAR},
      paper_state = #{paperState,jdbcType=VARCHAR},
      paper_type = #{paperType,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=INTEGER},
      paper_form_id = #{paperFormId,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>